/* Main Styles for Site */

@import url(https://fonts.googleapis.com/css?family=Abel|Inconsolata:400,700|Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);

@color-text--dark: #4A4A4A;
@color-text--light: #FFF;
@color-background--dark: #4A4A4A;
@color-buttonBorder: #4A4A4A;
@color-stanford: #8c1515;

@borderRadius-button: 0.5rem;

@font-button: 'Abel', sans-serif;
@font-text: 'Open Sans', sans-serif;
@font-title: 'Abel', sans-serif;
@font-accent: 'Inconsolata', sans-serif;

@fontSize-heading: 32px;
@fontSize-paperTitle: 28px;
@fontSize-button: 18px;

@height-video: 80vh;
@height-stanford: 30px;

@lineHeight-button: 2.5rem;
@lineHeight-paperTitle: 2.3rem;

@padding-button: 0.8rem;
@padding-video--hoz: 4rem;
@padding-video--vert: 2rem;

@zIndex-base: 10;
@zIndex-videoText: 20;

* {
 font-family: @font-text;
}

.firstSection {
 padding-top: @height-video + 10vh;
}

.heroVideo-container {
 position: absolute;
 left: 0px;
 top: @height-stanford;
 width: 100%;
 height: @height-video;
 overflow: hidden;
 z-index: @zIndex-base;
}

.heroVideo {
 position: absolute;
 left: 0px;
 top: 0px;
 width: 100%;
}

.heroVideo-section {
 position: absolute;
 bottom: @padding-video--vert;
 left: @padding-video--hoz;
 z-index: @zIndex-videoText;
}

.heroVideo-section-paperTitle {
 font-family: @font-title;
 font-size: @fontSize-heading;
 font-weight: normal;
 letter-spacing: 1px;
 line-height: @lineHeight-paperTitle;
}

.heroVideo-section-attribution {
 color: @color-stanford;
 font-family: @font-title;
 letter-spacing: 0.5px;
}

.heroVideo-section-authors {
 font-family: @font-accent;
}

.section {
 font-size: 14px;
 letter-spacing: 0.6px;
 line-height: 1.5rem;
}

.sectionHeading {
 font-family: @font-title;
 font-size: @fontSize-heading;
 font-weight: normal;
 letter-spacing: 1px;
 text-transform: uppercase;
}

.sectionButton {
 margin-bottom: 1rem;
 padding-left: @padding-button;
 padding-right: @padding-button;
 width: 85%;

 background-color: white;
 border: 2px solid @color-buttonBorder;
 border-radius: @borderRadius-button;
 font-family: @font-button;
 font-size: @fontSize-button;
 line-height: @lineHeight-button;
 text-transform: capitalize;

 &:hover {
  border: 2px solid @color-stanford;
  color: @color-stanford;
  cursor: pointer;
 }

}

.authorBox {
	font-family: @font-accent;
    text-align: center;
    margin-bottom: 20px;

	img {
		border-radius: 50%;
	    margin-left: auto;
	    margin-right: auto;

		display:block;
	}

}

