/* Main Styles for Site */
@import url(https://fonts.googleapis.com/css?family=Abel|Inconsolata:400,700|Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
* {
  font-family: 'Open Sans', sans-serif;
}
.firstSection {
  padding-top: 90vh;
}
.heroVideo-container {
  position: absolute;
  left: 0px;
  top: 30px;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  z-index: 10;
}
.heroVideo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}
.heroVideo-section {
  position: absolute;
  bottom: 2rem;
  left: 4rem;
  z-index: 20;
}
.heroVideo-section-paperTitle {
  font-family: 'Abel', sans-serif;
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2.3rem;
}
.heroVideo-section-authorLink {
  color: #4a4a4a;
  font-family: 'Inconsolata', sans-serif;
}
.heroVideo-section-authorLink:hover {
  color: #8c1515;
}
.section {
  font-size: 14px;
  letter-spacing: 0.6px;
  line-height: 1.5rem;
}
.sectionHeading {
  font-family: 'Abel', sans-serif;
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.sectionButton {
  margin-bottom: 1rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  width: 85%;
  background-color: white;
  border: 2px solid #4a4a4a;
  border-radius: 0.5rem;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  line-height: 2.5rem;
  text-transform: capitalize;
}
.sectionButton:hover {
  border: 2px solid #8c1515;
  color: #8c1515;
  cursor: pointer;
}
